body {
	font-family: Arial;
	font-size: 15px;
	color: #2E2E2E;
	margin: 0;
	padding: 0;
}

.ll-list-wrap {
	max-width: 1024px;
	margin: 20px auto;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	color: #3A3A3A;
}

#ll-prev-item,
#ll-next-item {
	float: left;
	width: 3%;
	height: 20px;
	text-align: center;
	margin: 78px 0;
	text-shadow: 1px 1px 1px #D1D1D1;
	cursor: pointer;
}

.ll-disabled,
.ll-disabled:before {
	color: #aaaaaa;
	cursor: default !important;
}

.ll-list-container {
	float: left;
	overflow: hidden;
	width: 80%;
	height: 160px;
	padding: 10px 15px;
	border: 1px dashed #aaaaaa;
}

ul.ll-image-list {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}
.ll-image-list:after {
	content: " ";
	clear: both;
	display: table;
}
.ll-image-list-item {
	display: block;
	float: left;
	margin-right: 3px;
}

.ll-loading {
	display: block;
	margin: 49% auto;
}